.logo {
  padding-left: 1rem;
  padding-top: 1rem;
}

.title-wrapper {
  margin: auto;
}

.title {
  font-family: Courier;
  text-align: center;
  font-size: 465%;
  color: rgb(0, 255, 0);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.otherText {
  position: relative;
  font-family: Courier;
  text-align: center;
  align-items: center;
  font-size: 250%;
  color: rgb(0, 255, 0);
  overflow: scroll;
  /* white-space: nowrap; */
}

.projectsLink {
  font-family: Courier;
  font-size: 250%;
  color: rgb(0, 255, 0);
  overflow: scroll;
  white-space: nowrap;
  position: absolute;
  top: 8%;
  left: 89%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.youtubeLink {
  font-family: Courier;
  font-size: 250%;
  color: rgb(0, 255, 0);
  overflow: scroll;
  white-space: nowrap;
  position: absolute;
  top: 8%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}