.container {
  display: flex;

}

.logo {
  padding-left: 1rem;
  padding-top: 1rem;
}

.title-wrapper {
  margin: auto;
}

.title {
  font-family: Courier;
  text-align: center;
  font-size: 465%;
  color: rgb(0, 255, 0);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title {
  display: inline-flex;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(0, 255, 0);
  }
}